$color-dark: #99ded5;
$color-light: #346962;
$color-hover: #6ab7ad;

%link-hover {
  &:focus,
  &:hover {
    text-decoration: none;
    color: $color-hover;
  }
}

a {
  color: $color-dark;

  body.vscode-light & {
    color: $color-light;

    @extend %link-hover;
  }

  @extend %link-hover;
}
