.list-group {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}

.list-group-item {
  background-color: #fff;
  color: #1b1b1b;

  border: 0;

  &:first-child {
    padding-top: 1.25rem !important;
  }

  &:last-child {
    padding-bottom: 1.25rem !important;
  }

  h5 {
    color: rgba(0, 0, 0, 0.6);
  }
}

.element-counter {
  color: rgba(255, 255, 255, 0.5) !important;

  body.vscode-light & {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}
