.modal {
  &-header {
    border-bottom: none;
  }

  &-footer {
    border-top: none;
  }

  &-body {
    padding: 0rem 1rem;
  }

  &-content {
    border: 0;

    & > div {
      border-radius: 0.1rem;
    }
  }
}
