.button {
	box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	padding: 1.4rem 1rem;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	border: 0;
	width: 100%;
	font-weight: 600;
	color: #e9e9e9 !important;
	border-radius: 0.3rem;
	cursor: pointer;
	font-size: 1rem;
	background-color: #488a81;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover,
	&:active {
		background-color: #356d65;
	}
}

.input {
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #495057;
	background-color: #e9e9e9;
	border-radius: 0.3rem;
	box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
	padding: 1.25rem 2rem;
	height: auto;
	border: 0;
	outline: none;
	resize: none;
}

.checkbox {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 2rem;
	height: 1.5rem;
	cursor: pointer;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	&:hover input ~ .checkmark {
		background-color: #e9e9e9;
	}

	input:checked ~ .checkmark {
		background-color: #2196f3;

		&::after {
			display: block;
		}
	}
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.5rem;
	width: 1.5rem;
	background-color: #e9e9e9;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: "";
		display: none;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		transform: translateY(-1px) rotate(45deg);
	}
}
