@font-face {
  font-family: "Open Sans";
  src: url("../vendor/google/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../vendor/google/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../vendor/google/Roboto-Bold.ttf");
  font-weight: bold;
}
