.container {
	display: grid;

	label {
		margin-bottom: 0.5rem;
	}
}

.heading {
	margin: 0;
}

.grid {
	display: grid;
	gap: 1rem;
	margin-left: 1.5rem;

	grid-template-areas:
		"f f"
		"b b";

	@media (min-width: 992px) {
		grid-template-areas:
			"f b"
			"f b";

		grid-template-columns: auto 50px;
	}
}

.indexCounter {
	position: absolute;
	left: 2.3rem;
	color: rgb(116, 116, 116);
}

.addIcon,
.deleteIcon {
	font-family: Icons;
}

.addIcon:before {
	content: "\ea0a";
}

.deleteIcon:before {
	content: "\ea0f";
}

.addButton {
	composes: button from "~/styles/component.scss";
}

.deleteButton {
	composes: button from "~/styles/component.scss";
	grid-area: b;
}

.fields {
	display: grid;
	gap: 1rem;
	grid-area: f;
}

.items {
	display: grid;
	gap: 1rem;
}
