.grid {
	display: grid;
	gap: 2rem;

	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.markdown {
	& ul,
	& ol,
	& p {
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}

	& ul,
	& ol {
		padding-left: 20px;
	}

	p,
	li {
		font-size: 1.2rem;
	}
}

.code {
	color: #e83e8c !important;
	padding: 1rem;
	background-color: #282c34;
	border-radius: 0.5rem;
	font-size: 1.2rem;

	:global body.vscode-light & {
		background-color: #e9e9e9;
	}
}
